


.open-tabs {
    padding-top: 20px;
    height: 70px;
    display: flex;

    /* padding: 8px; */
    background-color: #2e2e2e; /* Dark background color */
    /* border-bottom: 1px solid #444;  */
}

.tab {
    font-size: 14px;
    font-family: Sans-serif;
    font: Arial;
    padding-top: 13px;
    /* padding-bottom: 0px; */
    padding-right: 25px;
    padding-left: 25px;
    /* padding: 8px 16px; */
    /* margin-right: 8px; */
    background-color: #3e3e3e;
    /* border-radius: 4px; */
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: #1E1E1E; /* Active tab color */
    color: white;
}

.tab:hover {
    background-color: #444;
}